body{
    background-color: aliceblue;
    font-family: sans-serif;

}

.website-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    max-width: 1467px;
    margin: 0 auto;
    padding: 40px 20px;
}

.header {
    color: #333;

}

.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 7px;

    margin-bottom: 40px;
    justify-content: center;
}

.element-card {
    display: flex;
    flex-direction: column;

    background-color: #ffefef;
    border: 1.2px solid #ffffff66;
    border-radius: 4px;
    padding: 3.2px;

}

.element-number {
    font-size: 15px;
    opacity: 0.7;
}

.element-symbol {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.element-name {
    font-size: 11px;
    text-align: center;
    opacity: 0.7;
}