:root{
    --cat-nonmetal: hsl(120deg, 73%, 74%);
}

body{
    background-color: aliceblue;
    font-family: sans-serif;

}

.website-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    max-width: 1467px;
    margin: 0 auto;
    padding: 40px 20px;
}

.header {
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 0 20px;
}


h1 {
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: -0.02em;
}

.search-box {
    position: relative;
    width: 300px;
}

.search-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    font-size: 0.9rem;
}

#searchInput {
    width: 100%;
    padding: 12px 12px 12px 36px;
    border: none;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    transition: all 0.2s ease;
}


.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 7px;
    
    margin-bottom: 40px;
    justify-content: center;
}

.element-card {
    display: flex;
    flex-direction: column;

    background-color: #ffefef;
    border: 1.2px solid #cfcececb;
    border-radius: 4px;
    padding: 3.2px;

    position: relative;
    aspect-ratio: 1;
    transition: 300ms ease;

}

.element-card:hover {
    transform: scale(1.13);
}

.element-number {
    font-size: 15px;
    opacity: 0.7;
}

.element-symbol {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.element-name {
    font-size: 11px;
    text-align: center;
    opacity: 0.7;
}

/* .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3333332e;
    
    backdrop-filter: blur(7px);

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
} */

/* .modal-content {
    position: relative;
    background-color: #ffffffde;
    width: 90%;
    max-width: 670px;
    padding: 20px;
    border-radius: 12px;
    transform: scale(0.95);
    transition: 300ms ease;

} */

